# SPDX-License-Identifier: CC-BY-SA-4.0
# SPDX-FileCopyrightText: Michael Terry

[D-BUS Service]
Name=org.gnome.DejaDup
Exec=/usr/bin/deja-dup --gapplication-service
